---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="page not found" description="404 page not found."
  className="flex h-svh max-w-sm flex-col justify-center"
  headerInContent>
  <main class="space-y-6">
    <header class="space-y-2">
      <h1 class="text-xl font-medium tracking-tight">404: page not found</h1>
      <p class="text-zinc-500">
        here lies what could be<br />
        a fun page on this website<br />
        but for now, is blank.
      </p>
    </header>
    <div class="h-px w-16 bg-zinc-200"></div>
  </main>
</Layout>
